{% include 'back/headerAdmin.html.twig' %}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">Orders List</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    Orders List
                </div>
            </div>
        </div>
            <div class="table table-bordered table-striped mb-none">
                <table class="table mb-none">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>image</th>
                        <th>username</th>
                        <th>title</th>
                        <th>price</th>
                        <th>date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        {% if order.deliverd  %}
                            <tr class="success">
                                <td>{{ order.id }}</td>
                                <td><img alt="" class="img-responsive" height="42" width="42" src="{{ asset('uploads/imagesProduit/') }}{{ order.image }}"></td>
                                <th>{{ order.username }}</th>
                                <th>{{ order.title }}</th>
                                <th>{{ order.price }}</th>
                                <td>{% if order.orderDate %}{{ order.orderDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                        {% else %}
                            <tr class="warning">
                                <td>{{ order.id }}</td>
                                <td><img alt="" class="img-responsive" height="42" width="42" src="{{ asset('uploads/imagesProduit/') }}{{ order.image }}"></td>
                                <th>{{ order.username }}</th>
                                <th>{{ order.title }}</th>
                                <th>{{ order.price }}</th>
                                <td>{% if order.orderDate %}{{ order.orderDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>


                        {% endif %}


                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>




{% include 'back/footerAdmin.html.twig' %}