{% include 'back/headerAdmin.html.twig' %}
<div class="col-md-10">
    {{ form_start(edit_form) }}
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Product edit</h2>
            <p class="panel-subtitle">
                <a href="{{ path('product_index') }}">Back to the list</a>
            </p>
        </header>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Nom <span class="required">*</span></label>
                <div class="col-sm-9">
                    {{ form_widget(edit_form.title, { 'attr': {'class': 'form-control', 'placeholder': 'title'|trans } }) }}
                    {{ form_errors(edit_form.title) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Prix<span class="required">*</span></label>
                <div class="col-sm-9">

                    {{ form_widget(edit_form.price, { 'attr': {'class': 'form-control', 'placeholder': 'Price'|trans } }) }}
                    {{ form_errors(edit_form.price) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Description <span class="required">*</span></label>
                <div class="col-sm-9">
                    {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Description'|trans } }) }}
                    {{ form_errors(edit_form.description) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Size <span class="required">*</span></label>
                <div class="col-sm-9">
                    {{ form_widget(edit_form.size, { 'attr': {'class': 'form-control', 'placeholder': 'size'|trans } }) }}
                    {{ form_errors(edit_form.size) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">color <span class="required">*</span></label>
                <div class="col-sm-9">
                    {{ form_widget(edit_form.color, { 'attr': {'class': 'form-control', 'placeholder': 'color'|trans } }) }}
                    {{ form_errors(edit_form.color) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">categorie<span class="required">*</span></label>
                <div class="col-sm-9">
                    {{ form_widget(edit_form.category, { 'attr': {'class': 'form-control', 'placeholder': 'category'|trans } }) }}
                    {{ form_errors(edit_form.category) }}
                    <label class="error" for="company"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Stock <span class="required">*</span></label>
                <div class="col-sm-9">
                    {{ form_widget(edit_form.state, { 'attr': {'class': 'form-control', 'placeholder': 'State'|trans } }) }}
                    {{ form_errors(edit_form.state) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Image<span class="required">*</span></label>
                <div class="col-sm-9">
                    {{ form_widget(edit_form.image, { 'attr': {'class': 'form-control', 'placeholder': 'category'|trans } }) }}
                    {{ form_errors(edit_form.image) }}

                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <input type="submit" value="Edit" class="btn btn-primary"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete"class="btn btn-default ml-3" >
                {{ form_end(delete_form) }}
                </div>
            </div>




        </footer>
    </section>
    {{ form_widget(edit_form) }}

    {{ form_end(edit_form) }}



{% include 'back/footerAdmin.html.twig' %}